.navbar {
    background-color: #0078d4;
    color: #ffffff;
}
.navbar .site-name {
    color: #ffffff !important;
}
.navbar .links {
    background-color: #0078d4 !important;
    color: #ffffff !important;
}

button.verde, .action-button {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    background-color: #107c10 !important;
    padding: .8rem 1.6rem;
    border-radius: 2px;
    transition: background-color .1s ease;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
}
button.verde:hover, .action-button:hover {
    background-color: #0b6a0b !important;
}